
div#main {
    text-align: center;
    padding: 100px 60px;
}

 div#clickDiv h1 {
    margin-bottom: 80px;
    font-size: 100px;
}

div#main div#bttnDiv {
    margin-bottom: 80px;
    font-size: 40px;
}

div#main button {
    width: 150px;
}