<div class="alert alert-success" *ngIf="auth.authenticated()">You are logged in</div>
<div class="alert alert-danger" *ngIf="!auth.authenticated()" >You will need to sign in to click the button</div>

<div *ngIf="!auth.authenticated()">
    <div class="row" id="clickDiv">
        <div class="col-sm-12">
            <h1> Clicks so far</h1>
            <button type="button" class="btn btn-primary" [disabled]="!auth.authenticated() || timeLastClicked" (click)="updateClick()"
                id="button">{{clicked}} </button>
        </div>
    </div>

</div>
<h2 *ngIf="auth.authenticated()" id="welcomeHeading"> Welcome </h2>

<div *ngIf="gotData && auth.authenticated()">

    <div class="row" id="clickDiv">
        <div class="col-sm-12">
           <h1 *ngIf="auth.authenticated()"> {{profile.given_name}} {{profile.family_name}}</h1>

                <h1 id="clicks"> Clicks so far</h1>
            <button type="button" class="btn btn-primary" [disabled]="!auth.authenticated() || timeLastClicked" (click)="updateClick()"
                id="button">{{clicked}} </button>
        </div>

        <div>
            <p *ngIf="auth.authenticated()">You have clicked So far {{timeClicked || 0}} times. Your last clicked was at {{timeSinceLastClick || 0}}</p>

            <p *ngIf="auth.authenticated()">Time to next click</p>
        </div>
    </div>

</div>