
        

            <div class="row">
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary" [routerLink]= "['/login']">Login</button>
            <button type="button" class="btn btn-primary" [routerLink]= "['/login']">Register</button>

        </div>

</div>


    
    <div class="row" id="clickDiv">
        <div class="col-sm-12">
            <h1 > {{clicked}} </h1>
        </div>
    </div>

    <div class="row" id="bttnDiv">
        <div class="col-sm-12">

            <p>You will need to sign in to click the button</p>

        </div>
    </div>
