

      <h1 *ngIf="auth.authenticated()"> Welcome {{profile.given_name}} {{profile.family_name}}</h1>
      <div class="alert alert-success" *ngIf="auth.authenticated()">You are logged in</div>
      <div class="alert alert-danger" *ngIf="!auth.authenticated()">You will need to sign in to click the button</div>

    <div class="row" id="clickDiv">
        <div class="col-sm-12">
            <p> Clicks so far</p>
            <button type="button" class="btn btn-primary" [disabled]="!auth.authenticated() || timeLastClicked" (click)="updateClick()" id= "button">{{clicked}} </button>
        </div>

        <div>
            <p *ngIf="auth.authenticated()">You have clicked So far {{timeClicked || 0}} times. Your last clicked was at {{timeSinceLastClick || 0}}</p>

            <p *ngIf="auth.authenticated()">Time to next click</p>
        </div>
    </div>

