    <div class="row">
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary" [routerLink]="['/home']">Logout</button>

        </div>



        <div class="row">
            <div class="col-sm-12">
                <h1>Welcome Taha</h1>

            </div>

        </div>



        <div class="row" id="clickDiv">
            <div class="col-sm-12">
               <h1 > {{clicked}} </h1>
            </div>
        </div>

        <div class="row" id="bttnDiv">
            <div class="col-sm-12">
                <button type="button" class="btn btn-primary" (click)="updateClick()">Click Me</button>

            </div>
        </div>
 